<div class="container">
<form class="border p-3 rounded-3" [formGroup]="loginForm" (ngSubmit)="loginSubmited()">
<div class="row g-0">
<div class="col text-center p-2 mb-3 bg-light">
<H3>Login</H3>
</div>
</div>
<div class="row mb-3">
<div class="col">
<label for="email" class="form-label">Email</label>
<input type="email" class="form-control" id="email"
formControlName="email">
<div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched)">
    Email is required
</div>
</div>
</div>
<div class="row mb-3">
    <div class="col">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password"
    formControlName="password">
    </div>
    </div>
    <div class="row mb-3">
        <div class="col" routerLink="/register">
            Do not have account? <span class="text-primary">Register</span>
        </div>
        <div class="col text-primary text-right" routerLink="/forgetpassword">
            Forget Password?
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
            </div>
        </div>
    </div>
</form>
</div>
